*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1000px;
    background-color: rgb(51, 51, 51);
    margin: 0 auto;
    padding: 20px;
    font-family: 'Merienda One', cursive;
}

.logo{
    width: 100px;
    height: 100px;
    float: left;
}

#hinfo{
    text-align: left;
    float: left;
    color: white;
    padding: 2.3%;
}

.header_others{
    float: right;
    text-decoration: none;
    color: white;
    padding: 1.8%;
}
.header_others a{
    float: right;
    text-decoration: none;
    color: white;
}
.header_others a:hover{
    color: yellowgreen;
    text-decoration: underline;
}

.cleardiv{
    clear: both;
}

#special_hr{
    border: 1.7px solid rgb(219, 219, 219);
    width: 100%;
    margin: 10px auto;
}

h2, h3{
    color: rgb(146, 183, 250);
}

p{
    color: white;
}

.special_h3{
    color: white;
}


.left_section{
    float: left;
    width: 30%;
}
.right_section{
    float: right;
    width: 70%;
}
#Personal_info{
    padding-top: 1%;
}

.normal_hr{
    border: 1 solid rgb(219, 219, 219);
    width: 100%;
    margin: 20 auto;
    border-bottom: none;
}

#left_Edu{
    float: left;
    width: 45%;
}
#right_Edu{
    float: right;
    width: 45%;
}

#left_eca{
    float: left;
    width: 45%;
}
#right_eca{
    float: right;
    width: 45%;
}

#p_button{
    background-color: rgb(129, 129, 129);
    padding: 3;
    border-radius: 10%;
    transition: 0.3s ease;
    border: 2px solid rgb(71, 71, 71);
  
}
#p_button a{
    color: honeydew;
    text-decoration: none;
    font-size: 120%;
    font-family: 'Merienda One', cursive;

}

#p_button:hover{
    background-color: rgb(51, 51, 51);
    padding: 3;
    border: 2px solid rgb(172, 172, 172);
}
#p_button a:hover{
    color: yellowgreen;
    text-decoration: none;
}

.footer_content{
    background-color: rgb(14, 14, 14);
    padding: 3;
    text-align: center;
}

#last_footer{
    padding: 5px;
    margin: 0px auto;
}
#last_footer a{
    text-decoration: none;
    color: rgb(146, 183, 250);
}
#last_footer a:hover{
    text-decoration: none;
    color: greenyellow;
}
.social_a{
    padding: 10px;
}